* {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }